.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }
    
  div p {
    display: inline-block;
    cursor: pointer;
  }
  p:hover {
    color: #f7941e;
    text-decoration: none;
  }
  #table th {
    font-weight: 800;
  }
  #thongke {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #f7941e;
    position: fixed;
    z-index: 2;
    display: none;
    width: 500px;
    height: 500px;
    background-color: white;
    top: 50vh;
    left: 60vw;
    transform: translate(-50%, -50%);
  }
  #chart_div {
    width: 80%;
    height: 80%;
  }
  .content {
    cursor: pointer;
  }

  .modal-header {
    background: #f7941e;
    color: #fff;
  } 

  .required:after {
    content: "*";
    color: red;
  }
 

  input[type=checkbox] {
    transform: scale(1.5);
  }
  .card-title {
    font-weight: 800;
  }
  #table th {
    font-weight: 800;
  }
  #quyen ,#ten , #doituong{
    width: 100%;
    font-weight: 800;
  }
  #spacer {
    width: 500px;
  }
  #tiendo{
    left: 0;
    font-weight: 800;
  }
  .column .col-md-2 {
    width: 100px;
  }
 
  label {
    font-weight: 800;
  }
  #clearly-1 {
    color: white;
    padding: 4px;
    font-weight: 800;
    background-color: #f7941e;
  }
 #clearly-0 {
  padding: 4px;
  color: white;
  font-weight: 800;
  background-color: #999;
 }
 .pop-up-content-wrap {
  text-align: center;
  font-weight: 800;
 }

  
